PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/tv-log
JWT_SECRET=tv_log_super_secret_jwt_key_2026
CLIENT_URL=http://localhost:5173
TMDB_API_KEY=your_tmdb_v3_api_key
USER_USERNAME=uv
USER_PASSWORD=uvpass
USER_NAME=uv
NODE_ENV=development
